* {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    width: 500px;
    height: max-content;
    padding: 15px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}