<ul>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/atributos/str.jpeg" alt="">
            </div>
            <p>FOR</p>
        </div>
        <span>13</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/atributos/int.jpeg" alt="">
            </div>
            <p>INT</p>
        </div>
        <span>12</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/atributos/wis.jpeg" alt="">
            </div>
            <p>SAB</p>
        </div>
        <span>10</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/atributos/dex.png" alt="">
            </div>
            <p>DES</p>
        </div>
        <span>16</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/atributos/con.png" alt="">
            </div>
            <p>CON</p>
        </div>
        <span>10</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/atributos/cha.png" alt="">
            </div>
            <p>CAR</p>
        </div>
        <span>12</span>
    </li>
</ul>
