
<ul>
    <li>
        <div class="icon-abrv">
            <fa-icon [ngClass]="'pl'" [icon]="faCoins"></fa-icon>
            <p>PL</p>
        </div>
        <span>0</span>
    </li>
    <li>
        <div class="icon-abrv">
            <fa-icon [ngClass]="'po'" [icon]="faCoins"></fa-icon>
            <p>PO</p>
        </div>
        <span>0</span>
    </li>
    <li>
        <div class="icon-abrv">
            <fa-icon [ngClass]="'pe'" [icon]="faCoins"></fa-icon>
            <p>PE</p>
        </div>
        <span>0</span>
    </li>
    <li>
        <div class="icon-abrv">
            <fa-icon [ngClass]="'pp'" [icon]="faCoins"></fa-icon>
            <p>PP</p>
        </div>
        <span>197</span>
    </li>
    <li>
        <div class="icon-abrv">
            <fa-icon [ngClass]="'pc'" [icon]="faCoins"></fa-icon>
            <p>PC</p>
        </div>
        <span>0</span>
    </li>
</ul>
