<form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <div class="container">
        <app-geral></app-geral>

        <!-- <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-input">
                            <label for="nome_personagem">PJ</label>
                            <input formControlName="nomePersonagem" type="text" id="nome_personagem">
                            <p class="desc"> Nome do personagem </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-input">
                            <label for="classe_personagem">Classe</label>
                            <input formControlName="classePersonagem" type="text" id="classe_personagem">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-input">
                            <label for="alinhamento_personagem">AL</label>
                            <input formControlName="alinhamentoPersonagem" type="text" id="alinhamento_personagem">
                            <p class="desc"> Alinhamento: ordeiro, Caótico ou Neutro </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-input">
                            <label for="tituloPersonagem">Título</label>
                            <input formControlName="tituloPersonagem" type="text" id="titulo_personagem">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-input">
                            <label for="nivel_personagem">Nível</label>
                            <input formControlName="nivelPersonagem" id="nivel_personagem">
                            <p class="desc"> Nível de experiência </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Atributos</h2>
                        <div class="custom-input">
                            <label for="forca_personagem">FOR</label>
                            <input formControlName="forcaPersonagem" type="text" id="forca_personagem">
                            <p class="desc"> Ataques corpo a corpo/ Dano, abrir portas </p>
                        </div>
                        <div class="custom-input">
                            <label for="inteligencia_personagem">INT</label>
                            <input formControlName="inteligenciaPersonagem" type="text" id="inteligencia_personagem">
                            <p class="desc"> Idiomas/erudição </p>
                        </div>
                        <div class="custom-input">
                            <label for="sabedoria_personagem">SAB</label>
                            <input formControlName="sabedoriaPersonagem" type="text" id="sabedoria_personagem">
                            <p class="desc"> Proteção x Feitiços </p>
                        </div>
                        <div class="custom-input">
                            <label for="destreza_personagem">DES</label>
                            <input formControlName="destrezaPersonagem" type="text" id="destreza_personagem">
                            <p class="desc"> Ataques à distância /CA/ iniciativa </p>
                        </div>
                        <div class="custom-input">
                            <label for="constituicao_personagem">CON</label>
                            <input formControlName="constituicaoPersonagem" type="text" id="constituicao_personagem">
                            <p class="desc"> Pontos de Vida </p>
                        </div>
                        <div class="custom-input">
                            <label for="carisma_personagem">CAR</label>
                            <input formControlName="carismaPersonagem" type="text" id="carisma_personagem">
                            <p class="desc"> Reações/#auxiliares, lealdade </p>
                        </div>
                        <span><strong>Teste de Atributo:</strong> Jogue 1d20 e tire # igual ou menor</span>
                    </div>
                    <div class="col-md-6">
                        <h2>Jogadas de Proteção</h2>
                        <div class="custom-input">
                            <label for="morte_personagem">M</label>
                            <input formControlName="mortePersonagem" type="text" id="morte_personagem">
                            <p class="desc">Morte, veneno</p>
                        </div>
                        <div class="custom-input">
                            <label for="varinha_personagem">V</label>
                            <input formControlName="varinhaPersonagem" type="text" id="varinha_personagem">
                            <p class="desc"> Varinhas mágicas </p>
                        </div>
                        <div class="custom-input">
                            <label for="paralisia_personagem">P</label>
                            <input formControlName="paralisiaPersonagem" type="text" id="paralisia_personagem">
                            <p class="desc"> Paralisia, petrificação </p>
                        </div>
                        <div class="custom-input">
                            <label for="sopro_personagem">S</label>
                            <input formControlName="soproPersonagem" type="text" id="sopro_personagem">
                            <p class="desc"> Ataque de Sopro </p>
                        </div>
                        <div class="custom-input">
                            <label for="feiticos_personagem">F</label>
                            <input formControlName="feiticosPersonagem" type="text" id="feiticos_personagem">
                            <p class="desc"> Feitiços, cetros, cajados mágicos </p>
                        </div>
                        <div class="custom-input">
                            <label for="protecao_feiticos_personagem">±</label>
                            <input formControlName="protecaoFeiticosPersonagem" type="text" id="protecao_feiticos_personagem">
                            <p class="desc"> Modificado de SAB para proteção de Feitiços </p>
                        </div>
                        <span><strong>Jogada de Proteção:</strong> Jogue 1d20 e tire # igual ou maior</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 img-section">
                <h1>OLD-SCHOOL ESSENTIALS</h1>
                <span class="ficha-personagem">FICHA DE PERSONAGEM</span>
                <div class="personagem-image-wrapper">
                    <img src="../assets/image/avatar.png" alt="">
                </div>
                <p>Desenho do personagem, símbolo, descrição</p>
            </div>
        </div>
        <hr> -->
        <div class="row">
            <div class="col-md-9">
                <!-- Combate -->
                <h2>Combate</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-input double-input">
                            <label for="pontos_vida_personagem">PV</label>
                            <input formControlName="pontosVidaPersonagem" type="text" id="pontos_vida_personagem">
                        </div>
                        <div class="custom-input double-input">
                            <label for="classe_armadura_personagem">CA</label>
                            <input formControlName="classeArmaduraPersonagem" type="text" id="classe_armadura_personagem">
                        </div>
                        <div class="custom-input">
                            <label for="ataque_personagem">Atq</label>
                            <input formControlName="ataquePersonagem" type="text" id="ataque_personagem">
                            <p class="desc"> Modificador de FOR. ataque/dano </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-input">
                            <label for="pontos_vida_ma_personagem">Max</label>
                            <input formControlName="pontosVidaMaPersonagem" type="text" id="pontos_vida_max_personagem">
                            <p class="desc"> Pontos de Vida máximos </p>
                        </div>
                        <div class="custom-input">
                            <label for="modificador_con_vida_personagem">±</label>
                            <input formControlName="modificadorConVidaPersonagem" type="text" id="modificador_con_vida_personagem">
                            <p class="desc"> Modificador de CON, Pontos de vidas </p>
                        </div>
                        <div class="custom-input">
                            <label for="sem_armadura_modificador_des">Sa</label>
                            <input formControlName="semArmaduraModificadorDes" type="text" id="sem_armadura_modificador_des">
                            <p class="desc"> CA sem armadura, 10 + modificar de DES </p>
                        </div>
                        <div class="custom-input">
                            <label for="classe_armadura_modificador_des">±</label>
                            <input formControlName="classeArmaduraModificadorDes" type="text" id="classe_armadura_modificador_des">
                            <p class="desc"> Modificador de DES para Classe de Armadura </p>
                        </div>
                        <div class="custom-input">
                            <label for="ataque_distancia_modificador_destreza">Dis</label>
                            <input formControlName="ataqueDistanciaModificadorDestreza" type="text" id="ataque_distancia_modificador_destreza">
                            <p class="desc"> Modificador de DES para ataques à distância </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Matriz de Ataque</h2>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq9">9</label>
                                <input formControlName="matrizAtq9" type="text" id="matrizAtq9">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq8">8</label>
                                <input formControlName="matrizAtq8" type="text" id="matrizAtq8">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq7">7</label>
                                <input formControlName="matrizAtq7" type="text" id="matrizAtq7">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq6">6</label>
                                <input formControlName="matrizAtq6" type="text" id="matrizAtq6">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq5">5</label>
                                <input formControlName="matrizAtq5" type="text" id="matrizAtq5">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq4">4</label>
                                <input formControlName="matrizAtq4" type="text" id="matrizAtq4">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq3">3</label>
                                <input formControlName="matrizAtq3" type="text" id="matrizAtq3">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq2">2</label>
                                <input formControlName="matrizAtq2" type="text" id="matrizAtq2">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq1">1</label>
                                <input formControlName="matrizAtq1" type="text" id="matrizAtq1">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="custom-input">
                                <label for="matrizAtq0">0</label>
                                <input formControlName="matrizAtq0" type="text" id="matrizAtq0">
                            </div>
                        </div>
                    </div>
                </div>
                <p>Jogada de Ataque Consulte a matriz de ataque para descobrir o valor necessário para acertar uma CA específica</p>
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <app-habilidades></app-habilidades>
                        </div>
                        <div class="col-md-6">
                            <app-armas></app-armas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>Encontros</h2>
                <div class="custom-input">
                    <label for="iniciativa_modificador_destreza">Inic</label>
                    <input formControlName="iniciativaModificadorDestreza" type="text" id="iniciativa_modificador_destreza">
                    <p class="desc"> Modificador de DES para Iniciativa (opcional) </p>
                </div>
                <div class="custom-input">
                    <label for="reacao_modificador_carisma">±</label>
                    <input formControlName="reacaoModificadorCarisma" type="text" id="reacao_modificador_carisma">
                    <p class="desc"> Modificador de CAR para Jogadas de Reação </p>
                </div>
                <h2>Aventurando-se</h2>
                <div class="custom-input">
                    <label for="ouvir_ruidos">OR</label>
                    <input formControlName="ouvirRuidos" type="text" id="ouvir_ruidos">
                    <p class="desc"> Ouvir ruídos (1-em-6 ou por Classe) </p>
                </div>
                <div class="custom-input">
                    <label for="abrir_portas">AP</label>
                    <input formControlName="abrirPortas" type="text" id="abrir_portas">
                    <p class="desc"> Abrir portas (1-em-6 ou por Classe) </p>
                </div>
                <div class="custom-input">
                    <label for="encontrar_passagens">PS</label>
                    <input formControlName="encontrarPassagens" type="text" id="encontrar_passagens">
                    <p class="desc"> Encontrar passagens secretas (1-em-6 ou por Classe) </p>
                </div>
                <div class="custom-input">
                    <label for="encontrar_armadilhas">AR</label>
                    <input formControlName="encontrarArmadilhas" type="text" id="encontrar_armadilhas">
                    <p class="desc"> Encontrar armadilhas (1-em-6 ou por Classe) </p>
                </div>
                <h2> Movimento </h2>
                <p>Mov. base = 36 metros, a não ser que esteja sobrecarregado</p>
                <div class="custom-input">
                    <label for="movimento_jornada">Jo</label>
                    <input formControlName="movimentoJornada" type="text" id="movimento_jornada">
                    <p class="desc"> Jornada: Mov. base = Quilômetros/dia </p>
                </div>
                <div class="custom-input">
                    <label for="movimento_exploracao">Ex</label>
                    <input formControlName="movimentoExploracao" type="text" id="movimento_exploracao">
                    <p class="desc"> Exploração: Mov. base em metros/turno </p>
                </div>
                <div class="custom-input">
                    <label for="movimento_encontro">En</label>
                    <input formControlName="movimentoEncontro" type="text" id="movimento_encontro">
                    <p class="desc"> Encontro: 1/3 Mov. base em metros/round </p>
                </div>
                <h2>Idiomas</h2>
                <p>Por Classe; idiomas extras se INT maior que 13</p>
                <input formControlName="idioma1" type="text" id="idioma1">
                <input formControlName="idioma2" type="text" id="idioma2">
                <input formControlName="idioma3" type="text" id="idioma3">
                <div>
                    <label for="Letrado">Letrado</label>
                    <input formControlName="letrado" type="checkbox">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <app-equipamentos></app-equipamentos>
                    </div>
                    <div class="col-md-6">
                        <app-tesouros-items-magicos></app-tesouros-items-magicos>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>Armas & Armaduras</h2>
                <input formControlName="armasArmaduras1" type="text" id="armas-armaduras1">
                <input formControlName="armasArmaduras2" type="text" id="armas-armaduras2">
                <input formControlName="armasArmaduras3" type="text" id="armas-armaduras3">
                <input formControlName="armasArmaduras4" type="text" id="armas-armaduras4">
                <input formControlName="armasArmaduras5" type="text" id="armas-armaduras5">
                <input formControlName="armasArmaduras6" type="text" id="armas-armaduras6">
                <input formControlName="armasArmaduras7" type="text" id="armas-armaduras7">
                <input formControlName="armasArmaduras8" type="text" id="armas-armaduras8">
                <input formControlName="armasArmaduras9" type="text" id="armas-armaduras9">
                <input formControlName="armasArmaduras1" type="text" id="armas-armaduras10">
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-input double-input">
                            <label for="experiencia">XP</label>
                            <input formControlName="experiencia" type="text" id="experiencia">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-input">
                            <label for="experiencia_prox">Próx.</label>
                            <input formControlName="experienciaProx" type="text" id="experiencia_prox">
                            <p class="desc"> XP necessário para o próx. nível </p>
                        </div>
                        <div class="custom-input">
                            <label for="modificador_xp">%</label>
                            <input formControlName="modificadorXp" type="text" id="modificador_xp">
                            <p class="desc"> Modificador de Atributo primário para XP </p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-3">
                <!-- <h2>Moedas</h2> -->
                <!-- <div class="custom-input">
                    <label for="pl">PL</label>
                    <input formControlName="pl" type="text" id="pl">
                </div>
                <div class="custom-input">
                    <label for="po">PO</label>
                    <input formControlName="po" type="text" id="po">
                </div>
                <div class="custom-input">
                    <label for="pe">PE</label>
                    <input formControlName="pe" type="text" id="pe">
                </div>
                <div class="custom-input">
                    <label for="pp">PP</label>
                    <input formControlName="pp" type="text" id="pp">
                </div>
                <div class="custom-input">
                    <label for="pc">PC</label>
                    <input formControlName="pc" type="text" id="pc">
                </div> -->
                <h2>Carga</h2>
                <div class="custom-input">
                    <label for="pe">TE</label>
                    <input formControlName="te" type="text" id="pe">
                    <p class="desc"> Peso de tesouro em moedas </p>
                </div>
                <div class="custom-input">
                    <label for="pe">EQ</label>
                    <input formControlName="eq" type="text" id="pe">
                    <p class="desc"> Peso de tesouro em moedas </p>
                </div>
                <div class="custom-input">
                    <label for="cargaTotal">+</label>
                    <input formControlName="cargaTotal" type="text" id="cargaTotal">
                    <p class="desc"> Carga total (máx=1.600 mo) </p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success save">Salvar</button>
</form>