<section>
    <div class="row">
        <div class="col-md-3">
            <div class="img-wrapper">
                <img src="../../assets/image/avatar.png" alt="">
            </div>
        </div>
        <div class="col-md-3">
            <app-personagem-bar></app-personagem-bar>
        </div>
        <div class="col-md-2">
            <app-atributos></app-atributos>
        </div>
        <div class="col-md-2">
            <app-protecao></app-protecao>
        </div>
        <div class="col-md-2">
            <app-moedas></app-moedas>
        </div>
    </div>
    <hr>
    <div class="row">
    </div>
</section>
