<ul>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/protecao/m.png" alt="">
            </div>
        </div>
        <span>13</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/protecao/v.png" alt="">
            </div>
        </div>
        <span>14</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/protecao/p.png" alt="">
            </div>
        </div>
        <span>13</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/protecao/s.png" alt="">
            </div>
        </div>
        <span>16</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/protecao/f.jpeg" alt="">
            </div>
        </div>
        <span>10</span>
    </li>
    <li>
        <div class="icon-txt">
            <div class="icon-wrapper">
                <img src="../../../assets/protecao/con-mod.svg" alt="">
            </div>
        </div>
        <span>0</span>
    </li>
</ul>
