.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    width: 500px;
    height: 370px;
    padding: 15px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    position: relative;
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}