<div class="personage-bar">
    <h2>{{ personagem.nome }} - {{ personagem.titulo }}</h2>
    <div class="lv-wrapper">
        <div class="lv">{{ personagem.level }}</div>
        <div class="rogue">
            <div class="icon-wrapper">
                <img src="../../../assets/image/hood.png" alt="">
            </div>
            <h3>{{ personagem.classe }}</h3>
        </div>
    </div>
    <hr>
    <div class="hp-bar">
        <h5>Vida</h5>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width':getVidaPorcentagem()+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            <small class="justify-content-center d-flex position-absolute w-100">{{ personagem.vida }}/ {{ personagem.vidaMaxima }}</small>
        </div>
    </div>
    <div class="xp-bar">
        <h5>XP</h5>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width':getXpPorcentagem()+'%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            <small class="justify-content-center d-flex position-absolute w-100">{{ personagem.xp }}/{{ personagem.xpParaUpar }} +10%</small>
        </div>
    </div>
    <div class="alinhamento">
        <fa-icon [ngClass]="'coin'" [icon]="alinhamentoIcon"></fa-icon>
        <span>{{ personagem.alinhamento }}</span>
    </div>
</div>
